@import url("https://handailegobu.github.io/sass/vars.scss");
@import url("https://handailegobu.github.io/sass/functions.scss");
@import url("https://handailegobu.github.io/sass/mixins.scss");

/* Basic */

	form {
		input[type=text],
		input[type=password],
		select,
		textarea {
			position: relative;
			-ms-behavior: url('https://handailegobu.github.io/javascript/PIE.htc');
		}
	}

	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	button,
	.button,
	ul.social li a,
	.icon.featured,
	#copyright .links,
	#nav > ul > li > a {
		position: relative;
		-ms-behavior: url('https://handailegobu.github.io/javascript/PIE.htc');
	}

/* Nav */

	.dropotron {
		position: relative;
		-ms-behavior: url('https://handailegobu.github.io/javascript/PIE.htc');

		&.level-0 {
			box-shadow: none !important;
		}
	}

/* Banner */

	#banner {
		background-position: auto;
		background-size: contain;
		-ms-behavior: url('https://handailegobu.github.io/javascript/backgroundsize.min.htc');
	}
