---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="過去のワークショップ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>ワークスペースCUE　クリスマスワークショップ</h2>
        <h3>クリスマスオーナメント</h3>
      </header>

      <p>
        こんにちは。阪大レゴ部の 海 です。
      </p>
      <p>
        今回は「大阪大学レゴ部と作るクリスマスオーナメント」のワークショップを開催させていただきました。
        内容は子どもたちと一緒に、レゴを使ってサンタクロースとクリスマスツリーを作るというものでした。
      </p>

      <p>以下のサンタとツリーが今回作成したものです。
        <img src="/images/article/23_christmas/画像1.jpg" />
      </p>
      <p>
        <ul>
          開催の日時等は以下の通りです。
          <li>・　日程　：令和５年１２月１６日（土）</li>
          <li>・開催時間：１３時～１６時</li>
          <li>・　会場　：ワークスペースCUE</li>
          <li>・参加人数：部員３名　一般参加者３５人程度</li>
        </ul>
      </p>
      <img src="/images/article/23_christmas/画像2.jpg" />

      <p>
        今回はいくつか作品の展示もさせていただきました。
        子どもたちも興味を持ってくれていて嬉しかったです。
        また、子どもたちが自由にレゴで遊べる時間も設け、各々が楽しそうに制作していたのが印象的でした。
      </p>
      <p>
        <img src="/images/article/23_christmas/画像3.jpg" />
      </p>
      <p>
        ワークショップにはたくさんの子どもたちが参加してくださり、終始和やかな雰囲気で楽しませていただきました。
        特にサンタクロースは難しい工程もあったのですが、保護者や部員のサポートもあり、無事に全員作り終えることができました。
        クリスマスの良い思い出になってくれていたら嬉しいです。
      </p>
      <img src="/images/article/23_christmas/画像4.jpg" />
      <p></p>
      <p>
        最後になりましたが、今回ともにイベントを開催していただきました株式会社四ツ橋の皆様、そして参加してくださった皆様、
        本当にありがとうございました。
      </p>
      <p>
        海
      </p>
    </section>
  </article>
</BaseLayout>
