---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="過去のワークショップ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>お城フェス 2023</h2>
      </header>
      <p>
        こんにちは。大阪大学レゴ部の ると です。
      </p>
      <p>
        昨年に続き8月11日~13日の三日間、グランフロント大阪 北館B2F ナレッジキャピタル コングレコンベンションセンターにて開催されました 大阪・お城フェス2023 にて、「ブロックお城づくり」ワークショップを開催させていただきました。参加者数は合計220名ほどで、私たちレゴ部の部員は各日5名参加してキット作成の補助などをさせてもらいました。
      </p>
      <img src="/images/article/23_shirofes/1.png" />
      <p>
        今回は昨年度の紺色モデル(上記画像の左側)に加えて、緑色のモデルを追加し、石垣を二段に変更しました。新旧モデルともにとても好評でした。
      </p>
      <img src="/images/article/23_shirofes/2.jpg" />
      <p>
        参加者の年齢層は小学生未満に見える子から大人まで幅広く、改めて「お城」というものの人気を認識しました。また二年連続で参加してくれた方もおり、昨年のものと今年の二モデルの三つを並べた写真をSNSに上げてくれている人もいました。
      </p>
      <img src="/images/article/23_shirofes/3.jpg" />
      <p>
        多くの方にお越しいただき、楽しかったというお声をいただいたため良いワークショップとなったと思います。また、お城フェスという大きなイベントでのワークショップ開催というとても貴重な経験をさせていただいたと感じます。
      </p>
      <img src="/images/article/23_shirofes/4.jpg" />
      <p>
        最後になりましたが、本イベント主催である テレビ大阪株式会社 様、株式会社コングレ 様をはじめとする本ワークショップにお力添えいただいた皆様には大変お世話になりました。ありがとうございました。
      </p>
      <p>
        ると
      </p>
    </section>
  </article>
</BaseLayout>
