---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="過去のワークショップ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>JBF 2023</h2>
      </header>
      <p>
        こんにちは。大阪大学レゴ部のもっちーです。
      </p>
      <p>
        今回、阪大レゴ部はJBF(Japan Brickfest 2023)に出展しました。JBFとは、毎年神戸市のカナディアンアカデミーで開催されている大規模なレゴの展示会です。JBFでは日本だけでなく、世界中のレゴビルダーやレゴのファンが集まります。
      </p>
      <p>
        <a href="https://japanbrickfest.klug-jp.com/ja/%e3%83%88%e3%83%83%e3%83%97/">JBFについての詳しい情報はこちら（JBF公式ホームページのリンク）</a>
      </p>
      <img src="/images/article/23_jbf/1.jpg" />
      <p>
        阪大レゴ部ではGBCや建造物、映画やゲームのキャラクターなど様々なジャンルの作品を出展しました。「このキャラクター知ってる。」「これは何ですか？」など日本だけでなく海外の方とも交流しました。
      </p>
      <img src="/images/article/23_jbf/2.jpg" />
      <p>
        JBFでは阪大レゴ部だけでなく、世界中のレゴビルダーが集結します。私自身、他団体の作品を拝見し、「こんな作品作ってみたいな」「こんなアイデアもあるんだ」などの刺激を受け、幼い頃から大好きだったレゴをもっと深く楽しもう思う良いきっかけになりました。
      </p>
      <p>
        もっちー
      </p>
    </section>
  </article>
</BaseLayout>
