---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="過去のワークショップ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>理研ワークショップ</h2>
      </header>
      <h3>サブタイトル</h3>
      <p>
        本文：
      </p>
    </section>
  </article>
</BaseLayout>
