---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="過去のワークショップ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>おはこ文化祭</h2>
      </header>
      <p>
        こんにちは。阪大レゴ部のヤスタジャンです。
      </p>
      <p>
        今回は、石橋×阪大の学生の主催する おはこ文化祭で阪大レゴ部の作品を展示しました。
      </p>
      <p>
        ・開催日時：2023年11月26日
        <br />
        ・開催場所：石橋商店街
        <br />
        ・参加人数：部員4名　来場者 およそ100人
      </p>
      <p>
        　おはこ文化祭は石橋×阪大という大阪大学のサークルが主催する文化祭で、毎年石橋商店街で開催されています。
        大学生が中心となって企画されるこの文化祭は、「商店街と大学・地域をつなぐ」をテーマに、ステージやブースで様々なイベントが行われます。
        参加者はスタンプラリーで商店街をめぐり、大学生との交流を楽しんでいました。
      </p>
      <img src="/images/article/23_ohako/1.jpg" />
      <p>
        　阪大レゴ部は、デイリーサービスそよかぜ  に食べ物や動物、ポケモン、ミニオン、乗り物などを展示しました。
        見に来てくれた方は子ども連れの地域の方が多く、細かいところまで表現できていてすごいね、と褒めてくださりました。
        子どもたちはポケモンの作品が気にいったようで、近くでまじまじと見つめていました。実際に動かせるバスや車にも興味津々で、私たちや親御さんがハラハラする中、手で持って大はしゃぎで遊んでいました親御さんの中には「ここは頭のいい人たちしか入れないんだよ」と子どもに教えている方もいて、少し恥ずかしかったです。
      </p>
      <p>
        　最後になりましたが、文化祭を企画してくださった石橋×阪大の皆様、作品の展示場所を快く提供してくださったデイリーサービスそよかぜ  の方々、そして阪大レゴ部の展示を見に来てくださった地域の皆様、本当にありがとうございました。
      </p>
    </section>
  </article>
</BaseLayout>
