---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="合作当日編｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>合作当日編</h2>
        <p></p>
      </header>
      <div class="box">
        <h3>【はじめに】</h3>
        <p>
          　「見てもらう」作品から、「来場者の方が没入体験できる」作品へ。そんな思いで回転寿司の合作はできました。
        </p>
      </div>
    </section>
  </article>
</BaseLayout>
