---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="まちかね祭2024｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <section>
      <header>
        <h2>まちかね祭2024</h2>
      </header>
      <p>
        2024まちかね祭は、11月2日から4日に開催されました！
        今回の学祭についての記事は、合作の回転ずしについて紹介したいところが非常に多いため、合作以外の作品群と合作制作過程編、合作当日編の三本立てで執筆します！
      </p>
      <!--途中。それぞれサムネイルあった方がよいか-->
      <div class="row">
        <div class="6u 6u(mobile)">
          <section class="box">
            <a href="/gallery/gakusai_24_machikane/notgassaku/"><img width="250" src="/images/gallery/24_machikane/notgassaku/30.jpg" /></a>
            <h3>合作以外の作品群</h3>
          </section>
        </div>
        <div class="6u 6u(mobile)">
          <section class="box">
            <a href="/gallery/gakusai_24_machikane/gassaku1/"><img width="250" src="/images/gallery/24_machikane/gassaku1/image21.png" /></a>
            <h3>合作制作過程編</h3>
          </section>
        </div>
        <div class="6u 6u(mobile)">
          <section class="box">
            <!--<a href="/gallery/gakusai_24_machikane/gassaku2/">--><img width="250" src="/images/gallery/24_machikane/gassaku1/image6.png" />
            <p>＜近日公開予定です。今しばらくお待ちください！＞</p>
            <h3>合作当日編</h3>
          </section>
        </div>
      </div>
    </section>
  </article>
</BaseLayout>
