---
// まめ大福 は標準カードグリッドと異なる独自レイアウト（3u 4列グリッド）のため、単独ページとして忠実に移植。
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="部員の作品棚：まめ大福｜作品集｜大阪大学レゴ部" bodyClass="left-sidebar" ogImage="/images/gallery/member_mame-daifuku/chou-no-hyouhon1.jpg">
  <section class="box">
    <h2>まめ大福の作品棚</h2>
    <br />
    <p>こんにちは！いろいろお楽しみいただけたら嬉しいです！</p>
  </section>

  <div class="row">
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>1.蝶の標本</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/chou-no-hyouhon/"><img width="240" src="/images/gallery/member_mame-daifuku/chou-no-hyouhon1.jpg" /></a>
        <br />
        <a href="/gallery/member_mame-daifuku/chou-no-hyouhon/">↑クリックで作品解説↑</a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>2.セレナ</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/serena/"><img width="240" src="/images/gallery/member_mame-daifuku/serena.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>3.カップヌードル</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/cupnoodle/"><img width="180" src="/images/gallery/member_mame-daifuku/cupnoodle.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>4.喫茶ハトの巣</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/kissa-hato-no-su/"><img width="240" src="/images/gallery/member_mame-daifuku/kissa-hato-no-su.jpg" /></a>
        <p>共作：テッド</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>5.バラ</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/rose/"><img width="160" src="/images/gallery/member_mame-daifuku/rose.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>6.BE KOBE</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/be-kobe/"><img width="240" src="/images/gallery/member_mame-daifuku/be-kobe.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>7.阪急と太陽の塔</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/hankyu-and-taiyounotou/"><img width="240" src="/images/gallery/member_mame-daifuku/hankyu-and-taiyounotou.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>8.高級おせち</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/koukyu-osechi/"><img width="240" src="/images/gallery/member_mame-daifuku/koukyu-osechi.jpg" /></a>
        <p>共作：ZEKE</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>9.ゆず湯</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/yuzuyu/"><img width="240" src="/images/gallery/member_mame-daifuku/yuzuyu.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>10.喫茶店のいろいろ</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/kissaten-iroiro/"><img width="240" src="/images/gallery/member_mame-daifuku/kissaten-iroiro1.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>11.こたつ</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/kotatsu/"><img width="240" src="/images/gallery/member_mame-daifuku/kotatsu.jpg" /></a>
        <p>共作：ZEKE</p>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>12.フォージャー家</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/folger-family/"><img width="240" src="/images/gallery/member_mame-daifuku/folger-family1.jpg" /></a>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>13.ベーカーストリート 221B</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/baker-street-221b/"><img width="240" src="/images/gallery/member_mame-daifuku/baker-street-221b_1.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>14.ウタ</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/uta/"><img width="240" src="/images/gallery/member_mame-daifuku/uta.jpg" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
      <section class="box">
        <h3>15.alcohol</h3>
        <br />
        <a href="/gallery/member_mame-daifuku/alcohol/"><img width="240" src="/images/gallery/member_mame-daifuku/alcohol.png" /></a>
      </section>
    </div>
    <div class="3u 12u(mobile)">
    </div>
  </div>
</BaseLayout>
