---
// anthony は作品を作品棚index内にインライン記述する形式のため、単独ページとして移植。
// （個別作品ページを持たない現行仕様を踏襲）
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="部員の作品棚：anthony｜作品集｜大阪大学レゴ部" bodyClass="left-sidebar" ogImage="/images/gallery/member_anthony/anthony1.JPG">
  <section class="box">
    <h2>anthonyの作品棚</h2>
    <p>こんにちは！阪大レゴ部のanthonyです！<br>ついに作品棚にて自分の作品を紹介させていただけることになりました！！<br>作品数が未だ少なく少し寂しい作品棚になってしまっていますが、今後どんどん更新予定なのでぜひお楽しみに！</p>

    <h3>1. 天才的なアイドル様</h3>
    <br />
    <img width="360" src="/images/gallery/member_anthony/anthony1.JPG" alt="天才的なアイドル様" />
    <p>１作品目に紹介するのは「天才的なアイドル様」です！<br>
      こちらの作品は自分一人の手で完成させた初めての作品になります。少し大きめのドット絵を作ってみたいと思い制作しました。<br>
      作った当時、話題になりまくりだった「推しの子」のキャラクター「星野アイ」をドット絵で再現しました。（ちなみにこのドット絵は推しの子の主題歌「アイドル」のyoutubeのサムネイルを参考にしています。ぜひ見比べてみてください！）<br>
      特にこだわった部分は目です。輝いているように見せるため様々な色のパーツを採用しました。ただ紫系のパーツが当時不足していたこともあり、まだ改善の余地ありなので今後さらに輝いているように見せるため色使いを考え直したいと思います！<br>
      また、ちょうどよい肌の色のパーツが部室に少なく、肌の部分が少し茶色が強くなっていますが、影だと思って妥協していただけると幸いです(笑)</p>
    <br />
    <h4>2. 阪神タイガース　虎マーク（まめ大福との合作）</h4>
    <br />
    <img width="360" src="/images/gallery/member_anthony/anthony2.JPG" alt="阪神タイガース 虎マーク" />
    <p>こちらの作品は自分がドット絵の作品を作り始めるきっかけとなった作品です。<br>
      阪神がA.R.E.した日の昼間、まめ大福に「阪神A.R.E.するかもしれんし今からドット絵作ろう！」と言われ急遽2.3時間程度で作り上げました。<br>
      この作品を作ったことがきっかけでドット絵制作が楽しいと思うようになり、今でもドット絵制作に励んでいます。作った当日に阪神はしっかりA.R.E.して、ドット絵の楽しさにも気づけたので、阪神ファンの自分からすると最高の思い出となった作品でした。</p>
    <br />
    <h5>3.　岡田彰布監督</h5>
    <br />
    <img width="180" src="/images/gallery/member_anthony/anthony3.JPG" alt="岡田彰布監督" />
    <img width="180" src="/images/gallery/member_anthony/anthony4.JPG" alt="岡田彰布監督" />
    <p>ドット絵３作品目です。阪神タイガースの日本シリーズ制覇を記念して製作しました！<br>
      縦１０８×横９６ポッチというどでかいサイズ感が特徴で、制作当時から今までずっと部室にそびえ立ち、部員たちを見守っています(笑)<br>
      大量にパーツを使うため、部室にある決められたパーツだけでやりくりするのが非常に難しく、どこにどの色のパーツを使うかを決めるのが本当に大変でした。<br>
      そのような悩みを含め、ドット絵制作は楽しい！と改めて思わされる作品制作でした。今後もさらに大きなドット絵を制作できるよう精進しますのでご期待ください！！</p>
    <br />
    <p>執筆：anthony</p>
  </section>
</BaseLayout>
