---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="マチカネワニ｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar" ogImage="/images/gallery/work_machikanewani/machikanewani.jpg">
  <article class="box post">
    <section>
      <header>
        <h2>マチカネワニ</h2>
      </header>
      <p>
        ブックオフコーポレーション様に寄贈しました。現在、ブックオフスーパーバザー307号枚方池之宮店で展示中です！(2023年12月現在)
        <img src="/images/gallery/work_machikanewani/machikanewani.jpg">
      </p>
      <img src="/images/gallery/work_machikanewani/wani.JPG">
      <p>
        3mサイズのワニ。モーターを搭載しており電気で動かすことが可能
      </p>
    </section>
  </article>
</BaseLayout>
