---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="大阪城｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar" ogImage="/images/gallery/work_osakajo/osakajo.jpeg">
  <article class="box post">
    <section>
      <header>
        <h2>大阪城</h2>
      </header>
      <p>
        1mサイズの大阪城。15000ピースを使って製作
      </p>
      <img src="/images/gallery/work_osakajo/osakajo.jpeg">
    </section>
  </article>
</BaseLayout>
