---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="門松｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar" ogImage="/images/gallery/work_kadomatsu/kadomatsu.jpg">
  <article class="box post">
    <section>
      <header>
        <h2>門松</h2>
      </header>
      <p>
        1mサイズの門松,10000ピースを使って製作
      </p>
      <img src="/images/gallery/work_kadomatsu/kadomatsu.jpg">
    </section>
  </article>
</BaseLayout>
