---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="惑星儀｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar" ogImage="/images/gallery/work_planet/planet.jpg">
  <article class="box post">
    <section>
      <header>
        <h2>惑星儀</h2>
      </header>
      <p>
        複雑な調速機構により地球が365日で太陽の周りを1周回るようすを再現。月も同様に動く。
      </p>
      <img src="/images/gallery/work_planet/planet.jpg">
    </section>
  </article>
</BaseLayout>
