---
// くるぽんきゅー は標準カードグリッドと異なる独自レイアウトのため、単独ページとして忠実に移植。
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="部員の作品棚：くるぽんきゅー｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar" ogImage="/images/gallery/member_kuruponkyu/hamburg1.jpg">
  <article class="box post">
    <section>
      <header>
        <h2>くるぽんきゅーの作品棚</h2>
      </header>
      <div class="row">
        <div class="2u 2u(mobile)">
          <img width="130" src="/images/gallery/thumbnail/kuruponkyu_icon.png" />
        </div>
        <div class="10u 10u(mobile)">
          <h3>自己紹介</h3>
          <p>かわいいものが好きです💖<br />食べ物を実寸大で作ることにはまっています🍽️😋 </p>
        </div>
      </div>
    </section>
  </article>

  <div class="row">
    <div class="6u 12u(mobile)">
      <section class="box">
        <a href="/gallery/member_kuruponkyu/hamburg/"><img width="480" src="/images/gallery/member_kuruponkyu/hamburg1.jpg" /></a>
        <br />
        <a href="/gallery/member_kuruponkyu/hamburg/">↑クリックして作品解説を見る↑</a>
      </section>
    </div>
    <div class="6u 12u(mobile)">
      <h3>チーズインハンバーグ</h3>
    </div>
  </div>

  <div class="row">
    <div class="6u 12u(mobile)">
      <section class="box">
        <a href="/gallery/member_kuruponkyu/ramen/"><img width="480" src="/images/gallery/member_kuruponkyu/ramen2.jpg" /></a>
        <br />
        <a href="/gallery/member_kuruponkyu/ramen/">↑クリックして作品解説を見る↑</a>
      </section>
    </div>
    <div class="6u 12u(mobile)">
      <h3>ラーメン</h3>
    </div>
  </div>
</BaseLayout>
