---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="2017春コンテスト｜コンテスト｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>第4回オリジナル作品コンテストを開催！！！</h2>
    </header>
    <p></p>

    <h3>結果発表！</h3>

    <p>今回も個性溢れるたくさんの作品をご応募いただきありがとうございました。その中から、厳正なる抽選を勝ち抜き、いちょう祭で決勝ラウンドに参加した入選以上の作品をご紹介いたします。</p>

    <p></p>
    <h4>最優秀賞&nbsp;&nbsp;&nbsp;&nbsp;涼太さん 「おやつタイム♪」 316票</h4>
    <img src="/images/contest/2017spring/1.jpg" />
    <p>3時になると、鳩時計がネズミにおやつタイムを知らせてくれるという発想がとても可愛い。堂々の最優秀賞！</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;レゴ魂さん 「宇宙への旅立ち」 168票</h4>
    <img src="/images/contest/2017spring/2.jpg" />
    <p>宇宙のイメージを繊細かつ大胆な構図で表現した作品。小さなスペースを効率よく使っています！</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;白川空大さん 「閉店後の寿司屋」 164票</h4>
    <img src="/images/contest/2017spring/3.jpg" />
    <p>閉店後の寿司屋というテーマが実に渋い。様々に配置されたミニフィグたちは、それぞれ複雑な人生を歩んできているそうです。</p>

    <p></p>
    <h4>入選&nbsp;&nbsp;&nbsp;&nbsp;ひびりんさん 「JAPAN CASTLE」 123票</h4>
    <img src="/images/contest/2017spring/4.jpg" />
    <p>小さなサイズでここまで細かく日本の城を仕上げる表現力が素晴らしい。いったいどこの城がモデルになっているのだろう？</p>
  </article>
</BaseLayout>
