---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="2015冬コンテスト｜コンテスト｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>☆冬のオリジナルモデルコンテスト</h2>
    </header>
    <h3>コンテストの結果発表</h3>
    <p></p>
    <h4>最優秀賞&nbsp;&nbsp;&nbsp;&nbsp;「飛ぶ車」55票 </h4>
    <img src="/images/contest/2015winter/winner.jpg" />
    <p>空間を使いこなした、臨場感あふれる作品で圧巻されました。</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;「サンタクロースのプレゼント工場」53票 </h4>
    <img src="/images/contest/2015winter/runnerup.jpg" />
    <p>プレゼント工場への憧れが伝わる夢の詰まった作品でした。</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;「クリスマスサンタ号」45票</h4>
    <img src="/images/contest/2015winter/thirdplace.jpg" />
    <p>見ているこっちにまでクリスマス気分になる楽しい作品でした。</p>

    <p></p>
    <h4>入賞&nbsp;&nbsp;&nbsp;&nbsp;「早く来い来いお正月」43票</h4>
    <img src="/images/contest/2015winter/fourthplace.jpg" />
    <p>おさるさんが必死に書初する姿が可愛いらしくて何とも言えない。</p>
  </article>
</BaseLayout>
