---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="2016秋コンテスト｜コンテスト｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>2016秋のオリジナル作品モデルコンテスト結果発表!!</h2>
    </header>
    <p></p>
    <p>この度は、秋のオリジナル作品モデルコンテストへのたくさんのご応募ありがとうございました。たくさんのご応募の中で見事、予選審査を通過しまちかね祭で決勝ラウンドとして展示させて頂いた5作品を紹介します！</p>

    <h3>コンテストの結果発表</h3>
    <p></p>
    <h4>最優秀賞&nbsp;&nbsp;&nbsp;&nbsp; 涼太さん作「ぼくとおねえちゃん」469票</h4>
    <div id="parent">
    <img src="/images/contest/2016fall/winner1.jpg" />
    <img src="/images/contest/2016fall/winner2.jpg" />
    </div>
    <p>とにかく、細部までこだわり抜かれた作品。20ポッチ×20ポッチの枠の中でここまでの情景をリアルに創作する表現力に圧巻です。特に柿の木や鹿威しのクオリティはもはやレゴの極致です。</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;エースさん作「古き良き時代」296票</h4>
    <div id="parent">
    <img src="/images/contest/2016fall/runnerup2a.JPG" />
    <img src="/images/contest/2016fall/runnerup2b.JPG" />
    </div>
    <p>哀愁漂うこの風景は、一体いつの時代を表しているのでしょう？文明開化を成し遂げ、すっかり欧米化した大正時代？それとも、戦後に訪れた動乱を生き抜いて得た平和を謳った昭和時代中期？十人十色、様々に思いを馳せさせます。</p>

    <p></p>
    <h4>入賞&nbsp;&nbsp;&nbsp;&nbsp;白川空大さん作「秋のえんがわ」285票</h4>
    <div id="parent">
    <img src="/images/contest/2016fall/runnerup3a.jpg" />
    <img src="/images/contest/2016fall/runnerup3b.jpg" />
    </div>
    <p>赤とんぼが揚々に飛び交う縁側で囲碁を打つ二人。秋の空気を美しく表現された作品。 時の穏やかな流れを感じさせます。</p>
  </article>
</BaseLayout>
