---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="2019春コンテスト｜コンテスト｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>2019年春 第7回オリジナル作品コンテストを開催！！！</h2>
    </header>
    <p></p>

    <h3>結果発表！</h3>

    <p>今回も個性溢れるたくさんの作品をご応募いただきありがとうございました。その中から、厳正なる選考を勝ち抜き、いちょう祭で決勝ラウンドに参加した３作品をご紹介いたします。</p>

    <p></p>
    <h4>最優秀賞&nbsp;&nbsp;&nbsp;&nbsp;田中清さん 「自給自足ハウス」</h4>
    <img src="/images/contest/2019spring/1.jpg" />
    <p>太陽光発電や風力発電もできる、エコな自給自足生活ができちゃうお家。電気代を心配しなくてもいいこの家に住んでみたい！</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;スイカちゃんさん 「カラフルなお家」</h4>
    <img src="/images/contest/2019spring/2.jpg" />
    <p>屋根、壁、床などがとてもカラフルで可愛いお家。壁の色と部屋の雰囲気がしっかりマッチしていて素晴らしい！</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;中野 蒼さん 「飛ぶ弁」</h4>
    <img src="/images/contest/2019spring/3.jpg" />
    <p>ドローンが弁当箱を運ぶのではなく、弁当箱自身が飛んでしまうという未来志向な弁当箱。これなら熱々のままの弁当を食べられそうですね！</p>
  </article>
</BaseLayout>
