---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="2019秋コンテスト｜コンテスト｜作品集｜大阪大学レゴ部" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>2019年秋 第8回オリジナル作品コンテストを開催！！！</h2>
    </header>
    <p></p>

    <h3>結果発表！</h3>

    <p>今回も個性溢れるたくさんの作品をご応募いただきありがとうございました。その中から、厳正なる選考を勝ち抜き、まちかね祭で決勝ラウンドに参加した３作品をご紹介いたします。</p>

    <p></p>
    <h4>最優秀賞&nbsp;&nbsp;&nbsp;&nbsp;コウチャローさん 「ガチャガチャ」</h4>
    <img src="/images/contest/2019fall/1.png" />
    <p>こんなに小さいのにお金を入れるところがあったりカプセルが入ってたりと、とってもリアルなガチャガチャ。前半分のブロックが逆さまになっててリアルさを上げているのもポイント高い！</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;原田 海里さん 「森の中のクリスマスツリー」</h4>
    <img src="/images/contest/2019fall/2.png" />
    <p>次のクリスマスまで待ちきれないので、ツリーを開けてサンタさんの仕事をこっそりのぞいちゃおう！周りにいるうさぎさんもとってもキュート。おまけに星の力でツリーの中を温かく照らします。</p>

    <p></p>
    <h4>優秀賞&nbsp;&nbsp;&nbsp;&nbsp;キーさん 「漁船」</h4>
    <img src="/images/contest/2019fall/3.png" />
    <p>ほとんどのブロックが逆さまになって作られている珍しい作品。写真からは見えませんが、スクリューはちゃんと方向が変えられ、リールの部分はタイヤのホイールで再現！この船で漁をすれば、「大漁」の旗をたなびかせて帰ってくるでしょう！</p>
  </article>
</BaseLayout>
