---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="飯田ジオラマ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <!-- Content -->
  <article class="box post">
    <section>
      <header>
        <h2>飯田ジオラマ・丘の上スクエア（仮）</h2>
      </header>
      <p>
        飯田市の市街地のジオラマを制作しました。飯田市の丘の上スクエアに展示してあります。（記事イメージ）
      </p>
      <p>
        ＜写真と各作品紹介リンク＞
      </p>

      <header class="major">
      </header>

      <div class="row">
        <div class="6u 12u(mobile)">
          <section class="box">
            <header>
              <h3>制作者・設計者インタビュー</h3>
            </header>
            <div class="row">
              <div class="3.4u 3.4u(mobile)">
                <a href="/about/workrequest_Iidashi/Interview_mame_daifuku/"><img width="80" src="/images/gallery/thumbnail/mame-daifuku_icon.png" /></a>
              </div>
              <div class="8.6u 8.6u(mobile)">
                <h4>まめ大福</h4>
                <p>いろいろ雑多に作る<br />作品のどこかに遊び心を入れるのが好き</p>
              </div>
            </div>

            <div class="row">
              <div class="3.4u 3.4u(mobile)">
                <a href="/about/workrequest_Iidashi/Interview_ishimasa/"><img width="80" src="/images/gallery/thumbnail/ishimasa_icon.png" /></a>
              </div>
              <div class="8.6u 8.6u(mobile)">
                <h4>いしまさ</h4>
                <p>車や建築がメイン<br />ヤン車ばっかり量産しているようで、<br />いつもまめ大福に怒られている</p>
              </div>

              <div class="row">
                <div class="3.4u 3.4u(mobile)">
                  <a href="/about/workrequest_Iidashi/Interview_mocchi/"><img width="80" src="/images/gallery/thumbnail/mocch_icon.jpg" /></a>
                </div>
                <div class="8.6u 8.6u(mobile)">
                  <h3>もっちー</h3>
                  <p>ポケモンがメイン<br />他分野の作品も今後増えるかも</p>
                </div>
              </div>

              <div class="row">
                <div class="3.4u 3.4u(mobile)">
                  <a href="/about/workrequest_Iidashi/Interview_Luke/"><img width="80" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
                </div>
                <div class="8.6u 8.6u(mobile)">
                  <h3>Luke</h3>
                  <p>？？<br />？？</p>
                </div>
              </div>

              <div class="row">
                <div class="3.4u 3.4u(mobile)">
                  <a href="/about/workrequest_Iidashi/Interview_sanosu/"><img width="80" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
                </div>
                <div class="8.6u 8.6u(mobile)">
                  <h3>サノス</h3>
                  <p>？？<br />？？</p>
                </div>
              </div>

              <div class="row">
                <div class="3.4u 3.4u(mobile)">
                  <a href="/about/workrequest_Iidashi/Interview_zeke/"><img width="80" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
                </div>
                <div class="8.6u 8.6u(mobile)">
                  <h3>zeke</h3>
                  <p>？？<br />？？</p>
                </div>
              </div>

              <div class="row">
                <div class="3.4u 3.4u(mobile)">
                  <a href="/about/workrequest_Iidashi/Interview_ayuki/"><img width="80" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
                </div>
                <div class="8.6u 8.6u(mobile)">
                  <h3>あゆき</h3>
                  <p>？？<br />？？</p>
                </div>
              </div>
              </div>
            </div>
          </section>
        </div>


        <div class="6u 12u(mobile)">
          <section class="box">
            <header>
              <h3>制作過程</h3>
            </header>
            <p>現在準備中です。。。</p>
            <ul>
              <li></li>

            </ul>
          </section>
        </div>

    </section>
  </article>
</BaseLayout>
