---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="設計・制作者インタビュー：あゆき｜飯田ジオラマ｜活動紹介｜大阪大学レゴ部" bodyClass="no-sidebar">
  <!-- Content -->
  <article class="box post">
    <section>
      <header>
        <div class="row">
          <div class="3.4u 3.4u(mobile)">
            <a href="/gallery/member_mame-daifuku/"><img width="50" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
          </div>
          <div class="8.6u 8.6u(mobile)">
            <h2>あゆき　さんへのインタビュー</h2>
          </div>
        </div>
      </header>

      <h3>Q1.あなたが設計したところは？</h3>
      <p>
        <li>電車（伊那路）</li>
        <li>跨線橋・ホーム</li>
        <li>踏切</li>
      </p>

      <h3>Q2.設計するうえで特にこだわったポイントは？</h3>
      <h4>　電車（伊那路）</h4>
      <p>
        レゴ感とリアルさの両立を目指しました。側面部と屋根についてはシンプルに組みつつも、正面部と床下機器については実物の特徴を踏まえられるように努めました。
        <br />
        （結いスクエアの展示では正面部が角度的に見えにくいですが、以下の写真のようになっております。）
      </p>
      （写真*）
      <h4>　跨線橋・ホーム</h4>
      <p>

      </p>
      （写真*）

      <h4>　跨線橋・ホーム</h4>
      <p>
        跨線橋のサイズ感にこだわりました。
        小さいながらも屋根や窓の位置は可能な限り再現しようと頑張りました。
      </p>
      （写真*）

      <h4>　踏切</h4>
      <p>
        踏切は毎日見ているので、自分の担当したものの中で一番リアルではないかと思います！
        ⇆の部分や✖の部分を再現しようと頑張りました。
      </p>
      （写真*）

      <h3>Q3.作品を見てくださる方に伝えたいことは？</h3>
      <p>
        私の担当したものは展示の中では後ろの方にあり、あまり目立たないので近づいて見ていただけたらありがたいです！
        動物園の後ろあたりにあります。
      </p>

      <h3>Q4.今回のジオラマ制作をとおして、一番思い出に残っていることは？</h3>
      <p>
        現地での組み立て作業です。]
        時間に追われながらレゴを組み立てるのはとても大変ではありましたが、それ以上に完成時の達成感が大きく、つらさは全く感じませんでした。
        人生で一番の思い出が作れたと思います！
      </p>

      <h3>Q5.設計したものの、まめ大福にボツにされた作品があれば、ここで供養してください。</h3>
      <p>
        電車（通勤型）
        <br />
        大きすぎるのと、今一度考えてみると飯田線にはオレンジ色の車両がよく走っているのでボツはやむなしです（笑）。
        地元に同じような形の車両が走っていて親近感がわいたので設計しました。
      </p>

      <h3>他作品</h3>
      <div class="row">
        <div class="3.4u 3.4u(mobile)">
          <a href="/gallery/member_mame-daifuku/"><img width="120" src="/images/gallery/thumbnail/ロゴ_RGB new.png" /></a>
          <p>
            ↑アイコンをタップ↑
          </p>
        </div>
        <div class="8.6u 8.6u(mobile)">
          <h3></h3>
          <p></p>
        </div>
      </div>

    </section>
  </article>
</BaseLayout>
