---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<!--古いページ(2023/12時点)-->

<BaseLayout title="大阪大学レゴ部　過去の製作依頼" bodyClass="no-sidebar">
  <article class="box post">
    <header>
      <h2>過去の製作依頼</h2>
    </header>
    <p></p>
    <h3>大阪大学全１１学部のワニ博士！</h3>
    <p>
      本作品は、大阪大学全学教育推進機構様より、「<a href="https://www.celas.osaka-u.ac.jp/education/gakumon/">マチカネゼミ</a>」をテーマとした作品の依頼を頂き制作したものです。
      私たち大阪大学レゴ部は、「阪大全１１学部のワニ博士」を再現しました！
    </p>
    <img src="/images/article/DrWani/HBNG.jpg" alt="法学部,文学部,人間科学部,外国語学部のワニ博士" title="法学部、文学部、人間科学部、外国語学部のワニ博士" />
    <img src="/images/article/DrWani/KIK.jpg" alt="経済学部,医学部,基礎工学部のワニ博士" title="経済学部、医学部、基礎工学部のワニ博士" />
    <img src="/images/article/DrWani/KSYR.jpg" alt="工学部,歯学部,薬学部,理学部のワニ博士" title="工学部、歯学部、薬学部、理学部のワニ博士" />

    <p>ちなみにワニ博士は、阪大公式キャラクターです(もっと知りたい方は<a href="https://www.osaka-u.ac.jp/sp/drwani/" target="_blank">コチラ</a>！)。</p>
    <p>この作品を通して、もし阪大レゴ部に興味を持たれた方は、是非私たちの各種ＳＮＳもチェックしてみて下さい！</p>
    <a href="https://twitter.com/handai05club?s=09" target="_blank"><i class="fab fa-twitter-square fa-3x fa-fw icontwitter"></i></a>
    <a href="https://www.facebook.com/handai05club/" target="_blank"><i class="fab fa-facebook-square fa-3x fa-fw iconfacebook"></i></a>
    <a href="https://instagram.com/handai05club?igshid=1rt2ph1a14zqd" target="_blank"><i class="fab fa-instagram-square fa-3x fa-fw iconinstagram"></i></a>
  </article>
</BaseLayout>
