---
// 「みんなの作品棚」案内ページ（準備中の告知）。現行の内容を踏襲して単独ページ化。
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="みんなの作品棚｜作品集｜大阪大学レゴ部" bodyClass="left-sidebar">
  <section class="box">
    <h2>みんなの作品棚</h2>
    <p>いつもホームページをご覧いただきありがとうございます．<br>阪大レゴ部で作った作品をもっと見たい！！という要望にお応えして，この度ホームページ上に部員の作品棚を制作することになりました．<br>まだ準備中なのでとくに作品紹介もない無味乾燥なページですが，今後更新予定なのでぜひお楽しみに！！<br>更新後はレゴ部ホームページのトップで最新情報として告知致します♪</p>
  </section>
</BaseLayout>
